<p id="notice"><%= notice %></p>

<p>
  <b>User1:</b>
  <%= @gowalla_edge.user1 %>
</p>

<p>
  <b>User2:</b>
  <%= @gowalla_edge.user2 %>
</p>


<%= link_to 'Edit', edit_gowalla_edge_path(@gowalla_edge) %> |
<%= link_to 'Back', gowalla_edges_path %>
