<!DOCTYPE html>
<html>
<head>
  <title>Gowalla</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= stylesheet_link_tag 'bootstrap' %>
</head>
<body>

<%= yield %>
<%= yield :scripts %>

</body>
</html>
